@model IEnumerable<Inventory_Management_system.Models.Inventory>

@{
    ViewBag.Title = "DisplayInventory";
}

<h2>Displaying all Inventory</h2>

<p>
    @Html.ActionLink("Create New", "CreateInventory", "Inventory", new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Name")
        </th>
        <th>
            @Html.DisplayName("Price")
        </th>
        <th>
            @Html.DisplayName("Quantity")
        </th>
        <th>
            @Html.DisplayName("Action")
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.ActionLink("Edit", "UpdateInventory", "Inventory", new { id = item.Id }, new { @class = "btn btn-primary" }) |
                @Html.ActionLink("Details", "DetailsInventory", "Inventory", new { id = item.Id }, new { @class = "btn btn-success" }) |
                @Html.ActionLink("Delete", "Deleteinventory", "Inventory", new { id = item.Id }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
